<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>funcionarios</title>
</head>

<body>
    <h1>Funcionarios</h1>
    <form th:action="@{/funcionarios}" method="POST">
        <input name="nome" placeholder="Nome" />
        <input name="cargo" placeholder="Cargo" />
        <input name="setor" placeholder="Setor" />
        <input type="number" name="salario" placeholder="Salário" />
        <input type="submit" value="Cadastrar" />
    </form>
    <table>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.id}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cargo}"></td>
            <td th:text="${funcionario.setor}"></td>
            <td th:text="${funcionario.salario}"></td>
        </tr>
    </table>
</body>

</html>